/*====================================*/

/*        -EMIRATES GRAPHIC-          */

/*        emiratesgraphic.com         */

/*====================================*/

/*====================*/
/*       FONTS        */
/*====================*/


@font-face {
  font-family: 'Play-Regular';
  src: url('../fonts/Play-Regular.ttf');
 }
@font-face {
  font-family: 'NoticiaText-Regular';
  src: url('../fonts/NoticiaText-Regular.ttf');
 }
@font-face {
  font-family: 'Bodoni 72';
  src: url('../fonts/Bodoni 72.ttc');
 }
 @font-face {
  font-family: 'Montserrat-Thin';
  src: url('../fonts/Montserrat-Thin.otf');
 }
 @font-face {
  font-family: 'OpenSans-Regular';
  src: url('../fonts/OpenSans-Regular.ttf');
 }
body {  
  font-family:'Play-Regular';
}

p {
  font-family: 'Play-Regular' !important;
  font-size: 15px;  
  line-height: 30px;
}
.title {
  font-family: 'NoticiaText-Regular' !important;
}
button:active {
  outline: none !important;
}
button:focus {
  outline: none !important;
}
input:active {
  outline: none !important;
}
input:focus {
  outline: none !important;
}

a button:hover {
  text-decoration: none !important;
  cursor: pointer !important;
}

textarea:active {
  outline: none !important;
}
textarea:focus {
  outline: none !important;
}

a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
}

.no_padding {
  padding: 0px !important;
}

.small_padding-lr {
  padding: 0px 5px !important;
}

.hr_default {
  width: 150px;
  margin: 15px 0px;
  border-top: solid 2px #fff;
}