body {
	overflow-x: hidden;
}
.slider_top img {
	height: 300px;
	object-fit: cover;
}
.content_holder {
	position: absolute;
	top: 10vh;
	width: 100%;
	text-align: center;
}
.content_holder img {
	width: 100px;
	object-fit: contain;
	height: 100px;
}
.content_holder h5 {
	font-size: 50px;
	font-weight: bold;
	color: white;
}
.main_body {
	padding: 6% 0px;
}

.main_body img {
	width: 100%;
	height: 300px;
	object-fit: contain;
}
.main_body .row {
	justify-content: center;
}
.main_body .card {
	border: none;
	padding: 10px;
	text-align: center;
	margin: 0px 20px;
	transition: ease-in-out 0.2s;
}

.main_body .card:hover {
	box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
	transition: ease-in-out 0.2s;
}

.main_body .btn-primary {
	background: #e74c3c;
	border: none;
}

.table_holder_main {
	padding: 5% 0px;
}
.table_general {
	width: 100%;
}

.member_section_all {
	padding-top: 20vh;
	padding-bottom: 5%;
}
.member_section_all .member_image {
    height: 300px;
    background-size: cover;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.member_text {
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.06), 0 1px 10px 0 rgba(0,0,0,.01), 0 2px 4px -1px rgba(0,0,0,.02);
    transition: ease all .3s;
	padding: 10px;
	text-align: center;
}

.member_section_all .col-md-8 .member_image {
	width: 300px !important;
	height: 100px !important;
}